:root {
  --primary-warm-100: hsl(7, 99%, 70%);
  --primary-warm-200: hsl(51, 100%, 49%);
  --primary-cool-100: hsla(168, 34%, 41%, 0.7);
  --primary-cool-200: hsl(167, 40%, 24%);
  --primary-cool-300: hsl(198, 62%, 26%);
  
  --neutral-dark-300: hsl(212, 27%, 19%);
  --neutral-dark-200: hsl(213, 9%, 39%);
  --neutral-light-300: hsl(232, 10%, 55%);
  --neutral-light-200: hsl(210, 4%, 67%);
  --neutral-light-100: hsl(0, 0%, 100%);
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  color: var(--neutral-light-300);
}

p {
  opacity: 0.8;
  font-size: 0.8em;
  letter-spacing: 0.5px; /* this text seems thinner, check for a lighter weight that would match better */
}

a {
  text-decoration: none;
}

header {
  position: relative;
}

.header__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3vw;
  color: var(--neutral-light-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.header__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: inherit;
  opacity: 0.8;
  font-size: 0.8em;
}

button {
  font-family: "Fraunces", serif;
  font-size: 0.7em;;
  border: transparent;
  padding: 1em 1.5em;
  background-color: var(--neutral-light-100);
  text-transform: uppercase;
  border-radius: 2em;
}

.header__left-desktop {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.header__left-mobile {
  display: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 43%; /* can this be a calc depending on width? */
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__section.text-only {
  padding: 10vw; /* not right - probably need a div around the content so it can be right aligned inside and then give the whole thing a width*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.main__section.text-only > h2 {
  color: var(--neutral-dark-300);
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1;
}

.main__section.text-only > a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: var(--neutral-dark-300);
  font-size: 0.9em;
}

.main__section.images-only {
  display: flex;
}

.main__section.image-behind {
  position: relative;
}

.position-absolute-copy {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5vw 25%;
  gap: 1em;
  color: var(--primary-cool-300);
}

.testimonials {
  --gap: 3em;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding: 10vw 5vw;
}

.testimonials > h2 {
  text-transform: uppercase; /* needs letter spacing and font size */
  color: var(--neutral-light-200);
  font-size: 1rem;
  letter-spacing: 5px;
}

.testimonials__wrapper, .testimonials__section {
  display: flex;
}

.testimonials__wrapper {
  gap: var(--gap);
  margin: 0 5vw;
}

.testimonials__section {
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  text-align: center;
}

.testimonials__section > img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__section > p {
  line-height: 1.7;
  opacity: 1;
}

.testimonials__section > div {
  opacity: 1;
}

.testimonials__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--neutral-dark-300);
}

.testimonials__occupation {
  font-size: 0.6em;
  color: var(--neutral-light-300);
}

footer {
  background-color: var(--primary-cool-100);
  filter: brightness(150%);
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  padding: 4rem 0;
}

.footer__links > img {
  /* need filter */
}

.footer__links > div {
  display: flex;
  gap: 3rem;
}

footer a {
  color: var(--primary-cool-200);
  filter: brightness(75%); /* needs adjustment - close */
  font-size: 0.8em;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  filter: brightness(75%);
  padding: 0rem 0 3rem 0;
}

.attribution {

}