:root {
  --primary-warm-100: hsl(7, 99%, 70%);
  --primary-warm-200: hsl(51, 100%, 49%);
  --primary-cool-100: hsl(168, 34%, 41%);
  --primary-cool-200: hsl(167, 40%, 24%);
  --primary-cool-300: hsl(198, 62%, 26%);
  
  --neutral-dark-300: hsl(212, 27%, 19%);
  --neutral-dark-200: hsl(213, 9%, 39%);
  --neutral-light-300: hsl(232, 10%, 55%);
  --neutral-light-200: hsl(210, 4%, 67%);
  --neutral-light-100: hsl(0, 0%, 100%);
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;
}

.header__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3vw;
  color: var(--neutral-light-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.header__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: inherit;
  opacity: 0.8;
  font-size: 0.8em;
}

button {
  font-family: "Fraunces", serif;
  font-size: 0.7em;;
  border: transparent;
  padding: 1em 1.5em;
  background-color: var(--neutral-light-100);
  text-transform: uppercase;
  border-radius: 2em;
}

.header__left-desktop {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.header__left-mobile {
  display: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 6px;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 43%; /* can this be a calc depending on width? */
}